{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="row justify-content-center bg">
        <div class="bg-overlay"></div>
        <div class="col-md-5 col-lg-4 col-sm-6">
            <form action="/login" method="post" class="form-container mg">
                <h2 class="text-center">Sign In</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" autofocus class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </form>
        </div>
    </div>

{% endblock %}
